# Java
backend/target/
*.class
*.jar
*.war
*.log

# Flutter
frontend/.dart_tool/
frontend/.packages
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.env
*.key
